<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Firewall</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/account">Dashboard</a></li>
                        <li class="breadcrumb-item active">Error Logs</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            {%  if 'FirewallCreation' in CurrentUserPermissions %}
                                <a href="/account/admin/FirewallCreation"><button class="btn btn-primary float-right">Add New</button></a>
                            {%  endif %}
                            <br>
                            <div class="main-search-container">
                                <div class="main-search">
                                    <div class="input-group">
                                    <span class="main-search-category">
                                        <select class="form-control" id="Category">
                                            <option value="IP">IP</option>
                                            <option value="Reason">Reason</option>
                                        </select>
                                    </span>
                                        <input class="form-control py-2 border-right-0 border" type="search" placeholder="Search" id="main-search" value="">
                                        <span class="main-search-button">
                                        <i class="fa fa-search" id="main-search-btn"></i>
                                    </span>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="filter-container">

                                <select class="form-control urlTuner" id="PageSize">
                                    <option disabled="disabled">Page Limit</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>

                            </div>
                            <div class="filter-container dateRangeBtnContainer">
                                <div class="rangepicker form-control">
                                    <i class="fa fa-calendar"></i>&nbsp;
                                    <span>All Time</span> <i class="fa fa-caret-down"></i>
                                </div>
                            </div>

                            <div class="filter-container DateColumnSelector">
                                <p class="text-success float-right" id="rangeFilterMsg" style="margin: 8px 8px 0 0;"></p>
                                <select class="form-control urlTuner" id="DateColumn" data-toggle="tooltip" data-placement="top" title="Date column" style="text-transform:none!important">
                                    <option selected disabled>Date column</option>
                                </select>

                            </div>
                            <div class="filter-container">
                                <button class="btn btn-primary" id="export">Export current view</button>
                            </div>
                            <div class="table-responsive master-table">
                                <table class="pagination-table">
                                    <thead>
                                    <tr>
                                        <th class="setSort draggable-col" id="IP" data-sort="">IP</th>
                                        <th class="setSort draggable-col" id="Login" data-sort="">Login Access</th>
                                        <th class="setSort draggable-col" id="Registration" data-sort="">Registration Access</th>
                                        <th class="setSort draggable-col" id="Payment" data-sort="">Payment Ability</th>
                                        <th class="setSort draggable-col" id="Support" data-sort="">Support Ability</th>
                                        <th>Reason</th>
                                        <th class="setSort draggable-col" id="Expires" data-type="datetime" data-sort="">Expires</th>
                                        <th class="setSort draggable-col" id="Logged" data-type="datetime" data-sort="DESC">Logged</th>
                                        {%  if 'FirewallCreation' in CurrentUserPermissions %}
                                            <th></th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, value in Rows %}
                                        <tr>
                                            <td>{{ value['IP'] }}</td>
                                            <td>{{ value['Login'] ? 'Yes' : 'No'}}</td>
                                            <td>{{ value['Registration'] ? 'Yes' : 'No'}}</td>
                                            <td>{{ value['Payment'] ? 'Yes' : 'No'  }}</td>
                                            <td>{{ value['Support'] ? 'Yes' : 'No' }}</td>
                                            <td>{{ value['Reason']}}</td>
                                            <td>{{ value['Expires'] }}</td>
                                            <td>{{ value['NiceDate'] }}</td>
                                            {%  if 'FirewallCreation' in CurrentUserPermissions %}
                                                <td>
                                                    <a href="/account/admin/FirewallCreation&ref={{ value['ID'] }}"><button class="btn-sm btn-outline-secondary"><i class="far fa-edit"></i></button></a>
                                                    <button class="btn-sm btn-outline-danger confirm" type="button" data-confirm="postRequest" data-url="RemoveBlacklistRule" data-keys="RemoveBlacklistRule" data-values="{{ value['ID'] }}"><i class="far fa-trash-alt"></i></button>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- ./card-body -->
                        <div class="card-footer">

                            {% if Paging.TotalPages is  defined %}
                                {{  PagingPartial|raw }}
                            {% endif %}

                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>


        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
</div>