<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Pending Invites</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">

                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">

                            <a href="/account/admin/CreateInvite"><button class="btn btn-primary float-right">Create New</button></a>
                            <br>
                            <div class="main-search-container">

                                <div class="main-search">
                                    <div class="input-group">
                                    <span class="main-search-category">
                                        <select class="form-control" id="Category">
                                            <option value="Email">(Exact) Email</option>
                                        </select>
                                    </span>
                                        <input class="form-control py-2 border-right-0 border" type="search" placeholder="Search" id="main-search" value="">
                                        <span class="main-search-button">
                                        <i class="fa fa-search" id="main-search-btn"></i>
                                    </span>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="filter-container">

                                <select class="form-control urlTuner" id="PageSize">
                                    <option disabled="disabled">Page Limit</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>

                            </div>
                            <div class="filter-container">
                                <div class="rangepicker form-control">
                                    <i class="fa fa-calendar"></i>&nbsp;
                                    <span></span> <i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                            <div class="filter-container DateColumnSelector">
                                <p class="text-success float-right" id="rangeFilterMsg" style="margin: 8px 8px 0 0;"></p>
                                <select class="form-control urlTuner" id="DateColumn" data-toggle="tooltip" data-placement="top" title="Date column" style="text-transform:none!important">
                                    <option selected disabled>Date column</option>
                                </select>

                            </div>
                            <div class="filter-container">
                                <button class="btn btn-primary" id="export">Export current view</button>
                            </div>
                            <div class="table-responsive master-table">
                                <table class="pagination-table">
                                    <thead>
                                    <tr>
                                        <th class="setSort draggable-col" id="Email" data-sort="">Email</th>
                                        <th class="draggable-col">Code</th>
                                        <th class="draggable-col" id="PermissionGroupID" data-sort="">Permission Group</th>
                                        <th class="setSort draggable-col" id="Posted" data-type="datetime" data-sort="DESC">Sent</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, value in Rows %}
                                        <tr>
                                            <td>{{ value['Email'] }}</td>
                                            <td>{{ value['Code'] }}</td>
                                            <td><a href="#">{{ value['PermissionName'] }}</a></td>
                                            <td>{{ value['NiceDate'] }}</td>
                                            <td>
                                                <button class="btn btn-outline-primary postRequest" data-url="ResendInvite" data-keys="ResendInvite" data-values="{{ value['ID'] }}">Resend</button>
                                                <button class="btn btn-outline-danger confirm" data-confirm="postRequest" data-keys="RemoveInvite" data-values="{{ value['ID'] }}">Delete</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- ./card-body -->
                        <div class="card-footer">
                            {% if Paging.TotalPages is  defined %}
                                {{  PagingPartial|raw }}
                            {% endif %}

                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>


        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
</div>